* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
   background-color: #171616;
    height: 220vh;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 78vh;
    flex-direction: column;
}

h1 {
    font-family: "satoshi", sans-serif;
    font-size: 4rem;
    color: #646464;
    text-align: center;
}

.second-text {
    font-family: "satoshi", sans-serif;
    font-size: 1.5rem;
    color: #646464;
    text-align: center;
}

.custom-button-discord {
    background-color: #2c2828;
    color: #646464;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
    text-align: center;
    display: block;
    margin-left: 120px;
}
.custom-button-discord:hover {
    background-color: black;
}

button {
    position: absolute;
    top: 50.4%;
    left: 47%;
    transform: translate(-50%, -50%);
}

button {
    font-family: "satoshi", sans-serif;
}

.custom-button-github {
    background-color: #2c2828;
    color: #646464;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-right: 120px;
}

.custom-button-github:hover {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

#aboutme {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    background-color: #2c2828;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
    display: block;
    font-family: "satoshi", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #646464;
}


a:hover {
    background-color: black;
}

.AboutMe {
    position: absolute;
    top: 110%;
    width: 60%;
}

p {
    font-family: "satoshi", sans-serif;
    font-size: 3.5rem;
    color: #646464;
    text-align: center;
}

.TextAbout {
    font-family: "satoshi", sans-serif;
    font-size: 1.3rem;
    color: #646464;
    text-align: center;
}

@media screen and (max-width: 768px){
    body {
        height: 185vh;
   }
    
    h1 {
        font-size: 1.5rem;
    }

    .second-text{
        font-size: 0.8rem;
    }

    p {
        font-size: 2.1rem;
        margin-left: -0.5rem;
    }

    .TextAbout {
        font-size: 0.68rem;
        width: 120%;
        margin-left: -1.8rem;
    }

     .custom-button-discord {
        font-size: 0.7rem;
        height: 35px;
        margin-left: 65px;
        margin-top: 2.5rem;
    }

    .custom-button-github{
        font-size: 0.7rem;
        height: 35px;
        margin-left: -35px;
        margin-top: 2.5rem;
    }

    a {
        font-size: 0.8rem;
        margin-left: 3px;
    }
}
